<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 300px;
    }

    input[type="email"],
    input[type="password"] {
        width: 98%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    input[type="submit"] {
        width: 105%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
    .google-button {
            width: 106%;
            padding: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            color: white;
            border-radius: 4px;
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .google-button img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .google-button:hover {
            background-color: #5099e8;
        }

</style>
</head>

<body>

    <h1>Sign In</h1>

    <form action="/users/login" method="POST">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <div class="g-recaptcha" data-sitekey="6Lc8-dsnAAAAABaNEq7bzBNz3m9qaePgpO2so0Kz" data-callback="onCaptchaVerified"></div>
        <input type="submit" value="Sign In">
        <div style="margin-top: 10px; text-align: center;">
            <span>or</span>
        </div>
        <button type="button" class="google-button">
            <!-- <img src="google-logo.png" alt="Google Logo"> -->
            <a href="/users/auth/google">Google Sign In</a>
        </button>
    </form>
    
    

</body>
<script>
    function onCaptchaVerified(response) {
        document.getElementById("signin-button").disabled = false;
    }

    function verifyCaptcha() {
        const captchaResponse = grecaptcha.getResponse();

        if (captchaResponse.length === 0) {
            alert("Please complete the CAPTCHA.");
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }
</script>